/*header color and style*/
header h1 {
	font-family: Verdana;
	font-size: 40px;
	margin: 50px;
  text-align: center;
}
header h1 a  {
	color: #2d5885c4;
}
header h1 a:hover {
	color: rgb(14, 190, 73);
}


/*color for intro and about me titles*/
h2{
  color:aqua;
}


/*footer link colors*/
h3 a {
  color: yellow;
}
h3 a:hover{
  color: purple;
}


/*  body & rest  */

body {
	background-color: rgb(223, 24, 24)
}
div{
  border: 30px solid #000;
  background-color: rgba(180, 177, 162, 0.829);
}
img {
	width: 450px;
  height: 615px;
  margin-left: 420px;
}


/*container styles*/
.textContainer {
  width: 300px;
  margin: 20px auto 0 auto;
  text-align: center;
  padding-top: 15px;
}
.pageContainer {
  width: 940px auto 0 auto;
  margin: 20px auto 0 auto;
  padding-top: 20px;
  background-color: rgba(180, 177, 162, 0.829);
}
.imageContainer {
  padding-top: 15px;
}


/*footer styles*/
footer {
    background-color:rgba(180, 177, 162, 0.829);
    margin: 200px 0 0 0;
    padding: 20px 0;
    border: 10px solid #000;
}